.cart-details-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.cart-details-container img {
  width: 80px;
  height: 80px;
}

.cart-details-container p {
  margin-left: 20px;
}
